<a href="https://colab.research.google.com/github/BIDS-CPU/Data-Analyst-Excercises/blob/main/Record_Matching_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2(Specify the number of records missing in your answer)**

**2.How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2 (Specify the number of records missing in your answer)**

**3.Find the Sum of the total Qty of Records missing in data1 but present in data2**

**4.Find the total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2**

## **Importing the Necessary Librarys**

In [28]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

## **Reading the Dataset**

In [29]:
df1=pd.read_excel('Mactching sheet_1.xlsx',sheet_name='data1')

## **Looking at top 5 and bottom 5 rows**

In [30]:
df1.head().append(df1.tail())

            Order ID       Product ID  Qty
0     CA-2014-100006  TEC-PH-10002075  3.0
1     CA-2014-100090  FUR-TA-10003715  3.0
2     CA-2014-100090  OFF-BI-10001597  6.0
3     CA-2014-100293  OFF-PA-10000176  6.0
4     CA-2014-100328  OFF-BI-10000343  1.0
9473  US-2017-169551  OFF-PA-10004100  3.0
9474  US-2017-169551  OFF-ST-10004835  3.0
9475  US-2017-169551  TEC-AC-10002018  3.0
9476  US-2017-169551  TEC-AC-10003033  2.0
9477  US-2017-169551  TEC-PH-10001363  2.0

## **Statistics of Dataset**

In [31]:
df1.describe()

               Qty
count  9478.000000
mean      3.789513
std       2.231866
min       1.000000
25%       2.000000
50%       3.000000
75%       5.000000
max      16.000000

## **Checking for Null Values**

In [32]:
df1.isnull().sum()

Order ID      0
Product ID    0
Qty           0
dtype: int64

## **Checking the data types and Memory Usage**

In [77]:
df1.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9478 entries, 0 to 9477
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Order ID     9478 non-null   object
 1   Product ID   9478 non-null   object
 2   Qty          9478 non-null   float64
 3   primary_key  9478 non-null   object
dtypes: float64(1), object(3)
memory usage: 296.3+ KB

## **Creating new column from existing columns**

In [34]:
df1['primary_key']=df1['Order ID']+'_'+df1['Product ID']

In [35]:
df1

            Order ID       Product ID  Qty                     primary_key
0     CA-2014-100006  TEC-PH-10002075  3.0  CA-2014-100006_TEC-PH-10002075
1     CA-2014-100090  FUR-TA-10003715  3.0  CA-2014-100090_FUR-TA-10003715
2     CA-2014-100090  OFF-BI-10001597  6.0  CA-2014-100090_OFF-BI-10001597
3     CA-2014-100293  OFF-PA-10000176  6.0  CA-2014-100293_OFF-PA-10000176
4     CA-2014-100328  OFF-BI-10000343  1.0  CA-2014-100328_OFF-BI-10000343
...              ...              ...  ...                             ...
9473  US-2017-169551  OFF-PA-10004100  3.0  US-2017-169551_OFF-PA-10004100
9474  US-2017-169551  OFF-ST-10004835  3.0  US-2017-169551_OFF-ST-10004835
9475  US-2017-169551  TEC-AC-10002018  3.0  US-2017-169551_TEC-AC-10002018
9476  US-2017-169551  TEC-AC-10003033  2.0  US-2017-169551_TEC-AC-10003033
9477  US-2017-169551  TEC-PH-10001363  2.0  US-2017-169551_TEC-PH-10001363

[9478 rows x 4 columns]

In [37]:
df2=pd.read_excel('Mactching sheet_1.xlsx',sheet_name='data2')

In [38]:
df2.head().append(df1.tail())

            Order ID       Product ID  Qty                     primary_key
0     CA-2014-100090  FUR-TA-10003715  3.0                             NaN
1     CA-2014-100090  OFF-BI-10001597  6.0                             NaN
2     CA-2014-100293  OFF-PA-10000176  6.0                             NaN
3     CA-2014-100328  OFF-BI-10000343  1.0                             NaN
4     CA-2014-100363  OFF-FA-10000611  2.0                             NaN
9473  US-2017-169551  OFF-PA-10004100  3.0  US-2017-169551_OFF-PA-10004100
9474  US-2017-169551  OFF-ST-10004835  3.0  US-2017-169551_OFF-ST-10004835
9475  US-2017-169551  TEC-AC-10002018  3.0  US-2017-169551_TEC-AC-10002018
9476  US-2017-169551  TEC-AC-10003033  2.0  US-2017-169551_TEC-AC-10003033
9477  US-2017-169551  TEC-PH-10001363  2.0  US-2017-169551_TEC-PH-10001363

In [39]:
df2.describe()

               Qty
count  9479.000000
mean      3.797763
std       2.236052
min       1.000000
25%       2.000000
50%       3.000000
75%       5.000000
max      16.000000

In [40]:
df2['primary_key']=df2['Order ID']+'_'+df2['Product ID']

In [41]:
df2.head()

         Order ID       Product ID  Qty                     primary_key
0  CA-2014-100090  FUR-TA-10003715  3.0  CA-2014-100090_FUR-TA-10003715
1  CA-2014-100090  OFF-BI-10001597  6.0  CA-2014-100090_OFF-BI-10001597
2  CA-2014-100293  OFF-PA-10000176  6.0  CA-2014-100293_OFF-PA-10000176
3  CA-2014-100328  OFF-BI-10000343  1.0  CA-2014-100328_OFF-BI-10000343
4  CA-2014-100363  OFF-FA-10000611  2.0  CA-2014-100363_OFF-FA-10000611

## **1.How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2**

In [50]:
Q1=df1[df1['primary_key'].isin(df2['primary_key'])==False]
Q1

            Order ID       Product ID   Qty                     primary_key
0     CA-2014-100006  TEC-PH-10002075   3.0  CA-2014-100006_TEC-PH-10002075
10    CA-2014-100678  OFF-EN-10000056   3.0  CA-2014-100678_OFF-EN-10000056
19    CA-2014-100895  OFF-AR-10004511   2.0  CA-2014-100895_OFF-AR-10004511
35    CA-2014-101560  OFF-BI-10000309   3.0  CA-2014-101560_OFF-BI-10000309
61    CA-2014-102673  OFF-LA-10001771  12.0  CA-2014-102673_OFF-LA-10001771
...              ...              ...   ...                             ...
9390  US-2017-160836  OFF-AP-10001626   2.0  US-2017-160836_OFF-AP-10001626
9403  US-2017-162558  FUR-FU-10002364   2.0  US-2017-162558_FUR-FU-10002364
9420  US-2017-163657  OFF-BI-10000138   5.0  US-2017-163657_OFF-BI-10000138
9427  US-2017-164056  FUR-TA-10001307   5.0  US-2017-164056_FUR-TA-10001307
9435  US-2017-165456  FUR-CH-10003981   6.0  US-2017-165456_FUR-CH-10003981

[507 rows x 4 columns]

In [51]:
print('Number_of_missing_records',len(Q1))

Number_of_missing_records 507

## **2.How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2**

In [52]:
Q2=df2[df2['primary_key'].isin(df1['primary_key'])==False]
Q2

            Order ID       Product ID   Qty                     primary_key
11    CA-2014-100706  TEC-AC-10001314   2.0  CA-2014-100706_TEC-AC-10001314
14    CA-2014-100762  OFF-PA-10001815   3.0  CA-2014-100762_OFF-PA-10001815
30    CA-2014-101427  OFF-AR-10002257   3.0  CA-2014-101427_OFF-AR-10002257
56    CA-2014-102652  FUR-FU-10001918   7.0  CA-2014-102652_FUR-FU-10001918
63    CA-2014-102869  OFF-PA-10000788   3.0  CA-2014-102869_OFF-PA-10000788
...              ...              ...   ...                             ...
9428  US-2017-165344  OFF-BI-10003196  10.0  US-2017-165344_OFF-BI-10003196
9433  US-2017-165358  TEC-CO-10001943   5.0  US-2017-165358_TEC-CO-10001943
9455  US-2017-167920  OFF-AP-10000159   5.0  US-2017-167920_OFF-AP-10000159
9471  US-2017-169502  OFF-AP-10001947   5.0  US-2017-169502_OFF-AP-10001947
9473  US-2017-169551  FUR-BO-10001519   3.0  US-2017-169551_FUR-BO-10001519

[508 rows x 4 columns]

In [53]:
print('Number_of_missing_records',len(Q2))

Number_of_missing_records 508

# **3.Find the Sum of the total Qty of Records missing in data1 but present in data2**

In [56]:
Q3=Q2['Qty'].sum()
print('total Qty of Records missing in data1 but present in data2',Q3)

total Qty of Records missing in data1 but present in data2 1956.0

## **4.Find the total number of unique records**

In [73]:
Q4=df1.merge(df2,indicator=True)
Q4

,Order ID,Product ID,Qty,primary_key,_merge
0,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090_FUR-TA-10003715,both
1,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090_OFF-BI-10001597,both
2,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293_OFF-PA-10000176,both
3,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328_OFF-BI-10000343,both
4,CA-2014-100363,OFF-FA-10000611,2.0,CA-2014-100363_OFF-FA-10000611,both
...,...,...,...,...,...
8966,US-2017-169551,OFF-PA-10004100,3.0,US-2017-169551_OFF-PA-10004100,both
8967,US-2017-169551,OFF-ST-10004835,3.0,US-2017-169551_OFF-ST-10004835,both
8968,US-2017-169551,TEC-AC-10002018,3.0,US-2017-169551_TEC-AC-10002018,both
8969,US-2017-169551,TEC-AC-10003033,2.0,US-2017-169551_TEC-AC-10003033,both
8970,US-2017-169551,TEC-PH-10001363,2.0,US-2017-169551_TEC-PH-10001363,both

In [63]:
print('Find the total number of unique records',len(Q4))

Find the total number of unique records 8971

## **Total Records in combined DataFrame**

In [75]:
Total=pd.concat([df1,df2],axis=0)

In [76]:
Total

            Order ID       Product ID  Qty                     primary_key
0     CA-2014-100006  TEC-PH-10002075  3.0  CA-2014-100006_TEC-PH-10002075
1     CA-2014-100090  FUR-TA-10003715  3.0  CA-2014-100090_FUR-TA-10003715
2     CA-2014-100090  OFF-BI-10001597  6.0  CA-2014-100090_OFF-BI-10001597
3     CA-2014-100293  OFF-PA-10000176  6.0  CA-2014-100293_OFF-PA-10000176
4     CA-2014-100328  OFF-BI-10000343  1.0  CA-2014-100328_OFF-BI-10000343
...              ...              ...  ...                             ...
9474  US-2017-169551  OFF-PA-10004100  3.0  US-2017-169551_OFF-PA-10004100
9475  US-2017-169551  OFF-ST-10004835  3.0  US-2017-169551_OFF-ST-10004835
9476  US-2017-169551  TEC-AC-10002018  3.0  US-2017-169551_TEC-AC-10002018
9477  US-2017-169551  TEC-AC-10003033  2.0  US-2017-169551_TEC-AC-10003033
9478  US-2017-169551  TEC-PH-10001363  2.0  US-2017-169551_TEC-PH-10001363

[18957 rows x 4 columns]